<div class="py-4 mb-2">
  <h3 class="d-inline-block">Fakturies</h3>
  <div class="float-right">
    <%= linkTo(newFakturiesPath(), {class: "btn btn-primary"}) { %>
      Create New Faktury
    <% } %>
  </div>
</div>

<table class="table table-hover table-bordered">
  <thead class="thead-light">
    
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (faktury) in fakturies { %>
      <tr>
        
        <td>
          <div class="float-right">
            <%= linkTo(fakturyPath({ faktury_id: faktury.ID }), {class: "btn btn-info", body: "View"}) %>
            <%= linkTo(editFakturyPath({ faktury_id: faktury.ID }), {class: "btn btn-warning", body: "Edit"}) %>
            <%= linkTo(fakturyPath({ faktury_id: faktury.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
