<div class="py-4 mb-2">
  <h3 class="d-inline-block">Dostawcy Details</h3>

  <div class="float-right">
    <%= linkTo(dostawciesPath(), {class: "btn btn-info"}) { %>
      Back to all Dostawcies
    <% } %>
    <%= linkTo(editDostawcyPath({ dostawcy_id: dostawcy.ID }), {class: "btn btn-warning", body: "Edit"}) %>
    <%= linkTo(dostawcyPath({ dostawcy_id: dostawcy.ID }), {class: "btn btn-danger", "data-method": "DELETE", "data-confirm": "Are you sure?", body: "Destroy"}) %>
  </div>
</div>



<ul class="list-group mb-2 ">

</ul>
